<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Create User</h1>

<form method="post" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>

    <input type="submit" value="Add User" />
</form>

<ul>
    <li th:each="user : ${users}" th:text="${user.username}"></li>
</ul>


<span th:text="${loggedInUser != null} ? ${loggedInUser.username}">logged in user</span>


</body>
</html>