<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Stage Time</h1>
<a th:href="@{/create}">Shows</a>

<form method="post" th:object="${performance}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="position">Position</label>
        <!--<input class="form-control" th:field="*{position}" />-->
        <!--<input class="form-control" th:value="${nextPosition}" th:name="position" th:id="position" />-->
        <select class="form-control" th:field="*{position}">
            <option th:each="i : ${#numbers.sequence(#lists.size(performances)+1,1,-1)}"
                    th:value="${i}"
                    th:name="position"
                    th:id="position"
                    th:text="${i}"></option>
        </select>
        <span th:errors="*{position}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="timeAllotted">Time Allotted</label>
        <input class="form-control" th:field="*{timeAllotted}" />
        <span th:errors="*{timeAllotted}" class="error"></span>
    </div>

    <input type="submit" value="Add Performance" />
</form>

<p th:if="${testError}" th:text="${testError}"></p>

<table class="table">

    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Time Allotted</th>
        <th>Id</th>
    </tr>

    <tr th:each="performance : ${performances}">
        <td th:text="${performance.position}"></td>
        <td th:text="${performance.name}"></td>
        <td th:text="${performance.timeAllotted}"></td>
        <td th:text="${performance.id}"></td>
        <td><a th:href="@{http://localhost:8080/show/{show_id}/edit/{id}(show_id=${show_id}, id=${performance.id})}">edit</a></td>
    </tr>

</table>

</body>
</html>