<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<table class="table">

    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Time Allotted</th>
        <th>Id</th>
    </tr>

    <tr th:each="performance : ${performances}">
        <td th:text="${performance.position}"></td>
        <td th:text="${performance.name}"></td>
        <td th:text="${performance.timeAllotted}"></td>
        <td th:text="${performance.id}"></td>
        <td><a th:href="@{/edit/{id}(id=${performance.id})}">edit</a></td>
    </tr>

</table>

</body>
</html>