<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${message}">testing</h1>

<table class="table">

    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Time Allotted</th>
        <th>Id</th>
    </tr>

    <tr>
        <td th:text="${performer.position}"></td>
        <td th:text="${performer.name}"></td>
        <td th:text="${performer.timeAllotted}"></td>
        <td th:text="${performer.id}"></td>
    </tr>

</table>

<form method="post" th:object="${performer}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:value="${performer.name}" th:name="name" th:id="name" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <!--Uncomment when ready to handle updated positions-->
    <!--<div class="form-group">-->
        <!--<label th:for="position">Position</label>-->
        <!--<input class="form-control" th:value="${performer.position}" th:name="position" th:id="position" />-->
        <!--<span th:errors="*{position}" class="error"></span>-->
    <!--</div>-->
    <div class="form-group">
        <label th:for="timeAllotted">Time Allotted</label>
        <input class="form-control" th:value="${performer.timeAllotted}" th:name="timeAllotted" th:id="timeAllotted" />
        <span th:errors="*{timeAllotted}" class="error"></span>
    </div>

    <input type="submit" value="Edit Performer" />

</form>

</body>
</html>